    <!-- Header -->
        <header>
            <div class="container">
                <div class="intro-text">
                    <h1 class="intro-heading">Daniel Mejía</h1>
                    <h2 class="intro-lead-in">Graphic Design | Web Design | Illustration</h2>
                </div>
            </div>
        </header>
        
<!--  {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}