    <!-- Header -->
    <header>
        <div class="parallax-window" data-parallax="scroll" data-image-src="/img/water-drop-daniel-mejia.svg" data-natural-width="auto">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-heading">Daniel Mejía</div>
                    <div class="intro-lead-in">Graphic Design | Web Design | Illustration</div>
                </div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

