    <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/assets/javascripts/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>
   
    <!-- Bootstrap Core JavaScript -->
    <script async src="{{ "/assets/javascripts/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script async src="{{ "/assets/javascripts/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script async src="{{ "/assets/javascripts/classie.min.js" | prepend: site.baseurl }}"></script>
    <script async src="{{ "/assets/javascripts/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>
    
    <!-- Contact Form JavaScript -->
    <script async src="{{ "/assets/javascripts/jqBootstrapValidation.min.js" | prepend: site.baseurl }}"></script>
    <script async src="{{ "/assets/javascripts/contact_me.min.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script async src="{{ "/assets/javascripts/agency.min.js" | prepend: site.baseurl }}"></script>
    
   