    <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/assets/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>
   
    <!-- Bootstrap Core JavaScript -->
    <script async src="{{ "/assets/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script async src="{{ "/assets/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script async src="{{ "/assets/classie.min.js" | prepend: site.baseurl }}"></script>
    <script async src="{{ "/assets/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>
    
    <!-- Contact Form JavaScript -->
    <script async src="{{ "/assets/jqBootstrapValidation.min.js" | prepend: site.baseurl }}"></script>
    <script async src="{{ "/assets/contact_me.min.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script async src="{{ "/assets/agency.min.js" | prepend: site.baseurl }}"></script>
    
   