<!DOCTYPE html>
<html lang="en-US">

  {% include head.html %}
   
    <body id="page-top" class="index">
    
    {% include nav.html %}
    {% include header.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% js app async %}
    <!-- Typekit -->
    <script async src="https://use.typekit.net/gjz6giz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    </body>
</html>